{% extends 'AlivinatuBundle::layout.html.twig' %}

{% block title %}Registro{% endblock %}

{% block contenido %}
      
<div id="contenido">
    
    {% block tituloContenido %}
        <br>
        <hr>
        <div id="tituloOferta">Crea tu cuenta Alivinatu</div>
        <hr>
    {% endblock %}
    
        <div id="notaForm"><b><u>NOTA:</u></b> Bienvenido(a) al Sistema de Registro de una Nueva Cuenta Alivinatu, para la 
            correcta creaci칩n de la cuenta se solicita muy comedidamente ingresar TODOS LOS CAMPOS que se exponen a continuaci칩n. </div>
    {#{% if error %}
        <div class="error">{{ error.message }}</div>
    {% endif %}#}
        
    <form action="{{ path('registroAdmin') }}" method="post" id="formRegistro" >
        {#{{{ form_widget(formAdmin) }}
        {{ form_widget(formContacto) }}#}

        <div id="grid1">
            
            <div id="tituloForm"><b>Ingresa</b> | Datos de Usuario</div>
            {#<div id="barra">&nbsp;</div>#}
            
            {{ form_errors(formAdmin.usuario) }}
                {{ form_label(formAdmin.usuario) }}
                {{ form_widget(formAdmin.usuario) }}
            
            
            {{ form_errors(formAdmin.password.first) }}
                {{ form_label(formAdmin.password.first, 'Contrase침a') }}
                {{ form_widget(formAdmin.password.first) }}
           
            
            {{ form_errors(formAdmin.password.second) }}
                {{ form_label(formAdmin.password.second, 'Verifica Contrase침a') }}
                {{ form_widget(formAdmin.password.second) }}

            
            {{ form_errors(formAdmin.nombre) }}
                {{ form_label(formAdmin.nombre) }}
                {{ form_widget(formAdmin.nombre) }}
            
            {{ form_errors(formAdmin.apellido) }}
                {{ form_label(formAdmin.apellido) }}
                {{ form_widget(formAdmin.apellido) }}
            
            {{ form_errors(formAdmin.cedula) }}
                {{ form_label(formAdmin.cedula) }}
                {{ form_widget(formAdmin.cedula) }}
            
            {{ form_errors(formAdmin.genero) }}
                {{ form_label(formAdmin.genero) }}
                {{ form_widget(formAdmin.genero) }}
            
            {{ form_errors(formAdmin.fNacimiento) }}
                {{ form_label(formAdmin.fNacimiento) }}
                
            <input id="datepicker" name="usuario_form[fNacimiento]" required="required" />
            
            {{ form_errors(formAdmin.rol) }}
                {{ form_label(formAdmin.rol) }}
                {{ form_widget(formAdmin.rol) }}
        
        </div>
            
            
        <div id="grid0"> &nbsp;
        </div>
            
        <div id="grid2">
            <div id="tituloForm"><b>Ingresa</b> | Datos de Contacto</div>
            {#<div id="barra">&nbsp;</div>#}
            
            {{ form_errors(formContacto.celular) }}
                {{ form_label(formContacto.celular) }}
                {{ form_widget(formContacto.celular) }}
            
            {{ form_errors(formContacto.telefono) }}
                {{ form_label(formContacto.telefono) }}
                {{ form_widget(formContacto.telefono) }}
            
            {{ form_errors(formContacto.email) }}
                {{ form_label(formContacto.email) }}
                {{ form_widget(formContacto.email) }}
            
            {{ form_errors(formContacto.provincia) }}
                {{ form_label(formContacto.provincia) }}
                {{ form_widget(formContacto.provincia) }}
            
            {{ form_errors(formContacto.ciudad) }}
                {{ form_label(formContacto.ciudad) }}
                {{ form_widget(formContacto.ciudad) }}
            
            {{ form_errors(formContacto.calle) }}
                {{ form_label(formContacto.calle) }}
                {{ form_widget(formContacto.calle) }}
            
            {{ form_errors(formContacto.observacion) }}
                {{ form_label(formContacto.observacion) }}
                {{ form_widget(formContacto.observacion, { 'attr': { 'wrap': 'soft' } }) }}
            
            <a href="{{ path('alivinatu_homepage') }}"><span id="botonForm2">Cancelar</span></a>
            <input id="botonForm" type="submit" value="Crear Cuenta" />
            
        </div>
          
        
    </form>
    
</div>

{% endblock %}
