<h1>Articulo con ID {{ articulo.id }}</h1>
<ul>
<li>Titulo: {{ articulo.title }}</li>
<li>Autor: {{ articulo.author }}</li>
<li>Contenido: {{ articulo.content }}</li>
<li>Tag: {{ articulo.tags }}</li>
<li>Fecha de creacion: {{ articulo.created | date('d-m-Y') }}</li>
<li>Fecha de actualizacion: {{ articulo.updated | date('d-m-Y') }}</li>
<li>Slug: {{ articulo.slug }}</li>
<li>Category: {{ articulo.category }}</li>
</ul>
