{% extends 'AlivinatuBundle::layout.html.twig' %}

{% block title %}Registro Servicio{% endblock %}

{% block contenido %}
      
<div id="contenido">
    
    {% block tituloContenido %}
        
        <hr>
        <div id="tituloOferta">Crea un Nuevo Servicio</div>
        <hr>
    {% endblock %}
    
        <div id="notaForm"><b><u>NOTA:</u></b> Bienvenido(a) al Sistema de Registro de un Nuevo Servicio Alivinatu, para la 
            correcta creación del servicio se solicita muy comedidamente ingresar TODOS LOS CAMPOS que se exponen a continuación. </div>
     
    <form action="{{ path('registroServicio') }}" method="post" id="formRegistro" >

        <div id="grid1">
            
            <div id="tituloForm"><b>Ingresa</b> | Datos de Servicio</div>
            
            {{ form_errors(formServicio.nombre) }}
                {{ form_label(formServicio.nombre) }}
                {{ form_widget(formServicio.nombre) }}
           
            {{ form_errors(formServicio.costo) }}
                {{ form_label(formServicio.costo) }}
                {{ form_widget(formServicio.costo) }}

            {{ form_errors(formServicio.descripcion) }}
                {{ form_label(formServicio.descripcion) }}
                {{ form_widget(formServicio.descripcion) }}
        
        </div>
        
        <div id="grid0">
            &nbsp;
        </div>
        
        <div id="grid2">
            
            <div id="tituloForm"><b>Agrega</b> | Opciones Adicionales</div>
            <label>Agrega una Sala</label>
            <select name="nombreSala">
               <option></option>
                {% for sala in salas %}
                    <option>{{ sala.nombreSala }}</option>
                {% endfor %}
            </select>
            
            <label>Agrega una Promoción</label>
            <select name="nombrePromocion">
                
                 {% for promocion in promociones %}
                     <option>{{ promocion.nombrePromocion }}</option>
                 {% endfor %}
             </select>
                
            <a href="{{ path('adminServicio') }}"><span id="botonForm2">Cancelar</span></a>
            <input id="botonForm" type="submit" value="Crear Servicio" />
        
        </div>

    </form>
    
</div>

{% endblock %}
