<h1>Comentario {{ comentarios.id }} con su respectivo articulo</h1>
<table border="1">
<tr>
    <th>ID del comentario</th>
    <th>Autor del comentario</th>
    <th>ID del articulo</th>
    <th>Titulo del articulo</th>
</tr>

    <tr>
        <td>{{ comentarios.id }}</td>
        <td>{{ comentarios.author }}</td>
        <td>{{ articulos.id }}</td>
        <td>{{ articulos.title }}</td>
    </tr>


</table>